{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": ["**/normalize.less"],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }


}
