// header

html > body > header {
  position: absolute;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

html > body > header > nav.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

html > body > header > nav.navigation > ul.menu-list {
  .mp-reset();
  margin-left: auto;
  list-style: none;
}

html > body > main > section.promo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

html > body > main > section > div.content {
  width: 50%;
}

html > body > main > section > video.promo-video {
  width: 50%;
  background-color: violet;
}
