// header

html > body {
  position: relative;
}

html > body > header {
  position: absolute;
  z-index: 101;
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  @media (min-width: 1200px) {
    padding-top: 24px;
    padding-right: 60px;
    padding-bottom: 24px;
    padding-left: 80px;
  }

  @media (min-width: 1440px) {
    padding-top: 48px;
    padding-right: 89px;
    padding-bottom: 48px;
    padding-left: 110px;
  }
}

html > body > header > nav.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

html > body > header > nav.navigation > a.logo {
  display: block;

  @media (min-width: 1440px) {
    width: 200px;
    height: 55px;
  }
}

html > body > header > nav.navigation > ul.site-list {
  .mp-reset();
  margin-left: auto;
  list-style: none;
}

html > body > header > nav.navigation > ul.site-list > li a {
  position: relative;
  padding-left: 30px;
  color: @basic-black;
  font-size: 1.313em;
  line-height: 1.119;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

html > body > header > nav.navigation > ul.site-list > li a.contacts {
  &::before {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }

  &:hover::before {
    animation-name: callUs;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes callUs {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}
