// carousel

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 500px;
  .mp-reset();
  list-style: none;

  li {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 540px;
    background-color: @basic-white;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transform: translateX(-10%);
    transition-property: transform, opacity, visibility, z-index;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    a {
      width: 750px;

      img {
        width: 100%;
        max-height: 500px;
        object-fit: contain;
      }
    }

    p {
      font-size: 13px;
      line-height: 1.53;
    }
  }

  @media (min-width: @tablet-width) {
    a {
      img {
        margin-bottom: 20px;
      }
    }

    p {
      width: 80%;
      padding-right: 120px;
    }
  }

  @media (min-width: @desktop-width) {
    a {
      img {
        margin-bottom: 0;
      }
    }

    p {
      width: 20%;
      padding-right: 0;
      padding-bottom: 50px;
    }
  }

  @media (min-width: @desktop-ultra-w) {
    li {
      width: 912px;
    }

    p {
      width: 144px;
    }
  }
}

li.current {
  z-index: 101;
  position: static;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
}

li.prev {
  position: absolute;
  transform: translateX(calc(-100% - 70px)) scale(0.6);
}

li.next {
  position: absolute;
  transform: translateX(calc(100% + 70px)) scale(0.6);
}
